body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.header {
    background-color: #1f2937;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: left;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: right;
}

.links {
    font-size: 18px;
}

.header-right a {
    color: #e5e7eb;
    text-decoration: none;
}

.header-right ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 0px;
    margin: 0px;
}

.body-sec1 {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.sec1-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sec1-right {
    display: flex;
}

.sec1-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.sec1-text {
    color: #e5e7eb;
    font-size: 18px;
}

.body-sec2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 48px 300px;
    gap: 32px;
}

.signup-button {
    display: flex;
    border: none;
    border-radius: 8px;
    align-self: flex-start;
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 8px 32px;
}

.sec2-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.sec2-pics {
    text-align: center;
    display: flex;
    gap: 16px;
}

.caption {
    font-size: 18px;
    color: rgb(90, 90, 90);
}

.body-sec3 {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    padding: 100px 300px;
}

.inspiring-quote {
    display: flex;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
}

.attribution {
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    display: flex;
    justify-content: flex-end;
}

.body-sec4 {
    display: flex;
    padding: 72px 300px;
    align-items: center;
    justify-content: center;
}

.signup-box {
    display: flex;
    border: none;
    border-radius: 8px;
    align-self: flex-start;
    background-color: #3882f6;
    color: white;
    padding: 32px 100px;
    gap: 96px;
    align-items: center;
}

.signup-title {
    font-size: 24px;
    font-weight: bold;
}

.signup-button-2 {
    display: flex;
    border: 2px solid white;
    border-radius: 8px;
    align-self: flex-start;
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 8px 32px;
}

.footer {
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    height: 72px;
    align-items: center;
    justify-content: center;
    text-align: center;
}