body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.header {
    background-color: #1f2937;
    display: flex;
    padding: 16px;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: left;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: right;
}

.links {
    font-size: 18px;
}

.header-right a {
    color: #e5e7eb;
    text-decoration: none;
}

.header-right ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 0px;
    margin: 0px;
}

.body-sec1 {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

.sec1-left {
    display: flex;
    flex-direction: column;
}

.sec1-right {
    display: flex;
}

.sec1-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.sec1-text {
    color: #e5e7eb;
    font-size: 18px;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    height: 72px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.signup-button {
    display: flex;
    align-self: flex-start;
}

.sec2-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.body-sec3 {
    background-color: #e5e7eb;
}